.navbar{
    width: 100%;
    background: #0f0f0f;
    .navbar__wrapper{
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .navbar__logo{
            width: 15%;
            display: flex;
            align-items: center;
            gap: 10px;
            i{
                font-size: 24px;
                color: #fff;
            }
            img{
                width: 30px;
                height: 30px;
            }
            p{
                font-size: 20px;
                font-weight: 700;
                color: #fff;
            }
        }
        .navbar__search{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            .navbar__block{
                max-width: 100%;
                display: flex;
                align-items: center;
                // border: 1px solid #222;
                justify-content: center;
                border-radius: 20px 20px 20px 20px;
                border: 1px solid #3e3e3e;
                
                // background: black;
                // border-radius: 20px;
                input{
                    border: none;
                    outline: none;
                    background: transparent;
                    width: 600px;
                    padding: 10px;
                    font-size: 20px;
                    // border: none;
                    color: #fff;

                }
                i:nth-child(2){
                    font-size: 22px;
                    color: #fff;
                    padding-right: 10px;
                }
                button{
                    border-radius: 0 20px 20px 0;
                    background: #222;
                    width: 60px;
                    height: 45px;
                    border: none;
                    border: 1px solid #3e3e3e;
                    i{
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }
        .navbar__profile{
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            i{
                font-size: 24px;
                color: #fff;
            }
            img{
                border-radius: 50%;
                width: 44px;
                height: 44px;
            }
        }
    }
}